{% extends 'base.html' %} 
{% block title %} 
Edit Blog 
{% endblock %}

{% block content %} 
{% if user.is_authenticated %}

    {% if user.id == post.author.id %} 
<h1>Edit Blog</h1>
<br/>
<div class = "form-group">
    <form method="POST">
         {% csrf_token %} 
         {{ form.media }}
         {{ form.as_p}} <!--django form system .. enlists all fields present in modelPost(mentioned in class AddBlogView that links to this html) -->
         <button class="btn btn-success">Save Changes</button>
         <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
    </form>
</div>
     {% else %}
     <br/>
     <p><b>You cannot edit a blog you did not create!</b></p>
     {% endif %}

{% else %} 
<br/>
<br/>
<p><b>Login first in order to have access to this page</b></p>
 {% endif %}
{% endblock %}