{% extends 'base.html' %} 

{% block content %} 

<h1>Blogs</h1>

<ul>
{% for post in object_list %}
  <li> <a href = "{% url 'blog_detail' post.pk %}">{{post.title}}</a> by {{post.author.first_name}} {{post.author.last_name}} - {{ post.date}} 
       {% if user.is_authenticated %} 
      - <a href = "{% url 'edit_blog' post.pk %}">Edit</a> |
      <a href = "{% url 'delete_blog' post.pk %}">Delete</a>
      {% endif %}
     <br/>{{post.body | slice:":200" }}......<a href = "{% url 'blog_detail' post.pk %}"><small><i>read more</i></small></a>
  <hr>
</li>
{% endfor %}
</ul>

{% endblock %}